{% extends 'base.html' %}
{% load static %}
{% block title %}
    Gracias por su compra - Stickers Gallito
{% endblock %}
{% block data_layer %}

    <script>
        window.dataLayer = window.dataLayer || [];
        window.dataLayer.push({
            event: 'eec.purchase',
            ecommerce: {
                currencyCode: 'PEN',
                purchase: {
                    actionField: {
                        id: {{ order_number }},
                        affiliation: 'Stickers Gallito E-Commerce',
                        revenue: {{ revenue }},
                        shipping: {{ costo_despacho }},
                        coupon: ''
                    }
                },
                products: JSON.parse('{{ order_items | safe }}')
            }
        });
    </script>

{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <br>
                <br>
                <br>
                <h1 class="text-center my_title">
                    ¡Gracias por confiar en Stickers Gallito!
                </h1>
                <br>
                <p>El número de su orden es: <b>{{ order_number }}</b></p>

                <p>El total de su pedido es: <b>S/.{{ total }}</b></p>
                <br>
                <p><i>Hemos recibido su orden y la empezaremos a procesar.</i></p>

                <p><i>En breve le llegará un email con los detalles
                    de los
                    productos que compró</i>
                </p>

                <br>


            </div>
        </div>

    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

{% endblock %}