{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    Gracias por su compra - Stickers Gallito
{% endblock %}


{% block data_layer %}

    <script>
        window.dataLayer = window.dataLayer || [];
        window.dataLayer.push({
            event: 'eec.purchase',
            ecommerce: {
                currencyCode: 'PEN',
                purchase: {
                    actionField: {
                        id: {{ order_number }},
                        affiliation: 'Stickers Gallito E-Commerce',
                        revenue: {{ revenue }},
                        shipping: {{ costo_despacho }},
                        coupon: ''
                    },
                    products: JSON.parse('{{ order_items | safe }}')
                },

            }
        });
    </script>

{% endblock %}
{% block content %}
    <div class="container margin-top5">
        <div class="row">
            <div class="col-md-12 col-lg-12 text-center">
                <br>
                <br>
                <br>
                <h1 class="text-center my_title">
                    ¡Gracias por confiar en Stickers Gallito!
                </h1>
                <br>
                <p>El número de su orden es: <b>#{{ order_number }}</b></p>

                <p><b>El total de su pedido es: S/{{ total }}</b></p>

                <p><i>Costo de los stickers: S/ {{ revenue }} + Costo del envío: S/ {{ costo_despacho }}</i></p>
            

                <p>(A pagar en las siguientes 48 horas para hacer efectivo su pedido).</p>
                <p class="text-center"><b>  También le hemos enviado un correo electrónico con los detalles de su orden :).</b></p>
                
                <p class="text-center my_title margin-top6">Cuentas bancarias a donde hacer el depósito:</p>

            </div>
        </div>


        <div class="row margin-top3">


            <!-- BCP -->
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 text-center">
                <table class="table my_custom_table_deposit_payment">

                    <thead class="my_custom_thead">

                    <tr>
                        <th>
                            BANCO DE CRÉDITO DEL PERÚ (BCP)
                        </th>
                    </tr>
                    </thead>
                    <tboyd>

                        <tr>
                            <td class="text-left">
                                <p class="text-center"><b>CTA. AHORROS:</b> 191-93277552-0-47</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-left">
                                <p class="text-center"><b>CTA. INTERBANCARIA:</b> 002-191-193277552047-54</p>
                            </td>
                        </tr>

                    </tboyd>
                </table>
            </div>

            <div class="col-12 col-sm-12 col-md-6 col-lg-6 text-center">
                <!-- INTERBANK -->


                <table class="table my_custom_table_deposit_payment">

                    <thead class="my_custom_thead">

                    <tr>
                        <th>
                            INTERBANK
                        </th>
                    </tr>
                    </thead>
                    <tboyd>

                        <tr>
                            <td class="text-left">
                                <p class="text-center"><b>CTA. AHORROS:</b> 200‑3001651127</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-left">
                                <p class="text-center"><b>CTA. INTERBANCARIA:</b> 003-200-003001651127-38</p>
                            </td>
                        </tr>

                    </tboyd>
                </table>
            </div>
        </div>
    </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

{% endblock %}