#footer-navbar {
    background-color: rgb(239, 239, 239);
}

.footer_text {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: .2em;
    padding: 0px;
    margin: 0px;
}

.footer_text_right {
    font-size: 12px;
    letter-spacing: .1em;
    padding: 0px;
    margin: 0px;
}

.footer_links {
  color: #008965; 
}

.footer_links a:focus, a:hover {
    color:  rgb(2, 197, 145);
    text-decoration: none;
}




li.footer_nav_links a {
   font-size: 12px;
   color: #008965; 
   text-decoration: none;
}

li.footer_nav_links a:focus, li.footer_nav_links a:hover {
    font-size: 12px;
    color: rgb(2, 214, 158);
    text-decoration: none;
}


.footer_icons {
    font-size: 20px;
    color: #a0a0a0;
}

.footer_icons:hover { 
  color: #4e4e4e;
}

.footer_ul {
    width: 100%;
  }


ul.footer_ul > li {
    display: inline-block;
    /* You can also add some margins here to make it look prettier */
    zoom:1;
    padding-left: 0%;
    *display:inline;
    /* this fix is needed for IE7- */
}
