/*body {*/
/*margin: 0;*/
/*padding: 0;*/
/*}*/

.preloader {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    transition: 1s;
    z-index: 9999;
    /*background: rgba(0,0,0,0.5);*/
}

.general-container {

    background: rgba(0,0,0,0.8) url("/static/img/logo.png") center no-repeat;
}



​