.stickers-bg {
    background-color: red;
}


.sizequantityform {
    background-color: #FFFFFF;
    box-shadow: 0 0 0 6px rgba(255, 0, 0, 0.5);
    border-style: solid;
    border-radius: 5px;

}


.semi-transparent {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px
}

.padded {
    padding: 20px;
    padding: .2rem;
}

.bg-white {
    background-color: #FFFFFF;

}

.padded-60 {
    padding: 60px;
}

.padded-40 {
    padding: 40px;
}

.padded-20 {
    padding: 20px;
}


.padded-10 {
    padding: 10px;
}


.rounded {
    border-radius: 3px;
    border-radius: .25rem;
}


form ul {
    padding-left: 0;
}

form ul li {
    display: flex;
    justify-content: space-between;
    width: 200px;
    text-align: left;
}

#quantity .form-items li {
    display: table;
    width: 100%;
}

#quantity .form-items li span {
    display: table-cell;
    width: 33%;
}

.savings {
    color: #28a745;
    font-size: 12px;
}


#quantity li:hover {
    background: #ECF5FF;
}

#size li:hover {
    background: #ECF5FF;
}


