{% load staticfiles %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Nuevo usuario registrado #{{ user_id }}</title>

    <style>
        @import url('https://fonts.googleapis.com/css?family=Roboto');

        body {
            font-family: 'Roboto', sans-serif;
            width: 60%;
        }

    </style>
</head>
<body>

    <h1>Nuevo usuario registrado: {{ user_name }}</h1>

    <p>ID: {{ user_id }}</p>
    <p>Nombre completo: {{ user_full_name }}</p>
    <p>Nombre de usuario: {{ user_name }}</p>
    <p>DNI: {{ user_dni }}</p>
    <p>Email: {{ user_email }}</p>
    <p>Cel.: {{ user_phone }}</p>
    {% if user_is_active %}
        <p>Usuario con email valido: sí, usuario validó email.</p>
    {% else %}
        <p>Usuario con email valido: no, usuario no validó email aún.</p>
    {% endif %}        

</body>
</html>