<div id="footer-navbar"  class="footer navbar-fixed-bottom my_footer container-fluid">
    <!-- 4 - contained in center example -->
<nav class="navbar navbar-expand-sm">
    <div class="mx-auto d-sm-flex d-block flex-sm-nowrap">

            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'shop:quienes_somos' %}">¿Quiénes somos?</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="{% url 'shop:como_comprar' %}">¿Cómo comprar?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'shop:contactanos' %}">Contáctanos</a>
                </li>
            </ul>

    </div>
</nav>
</div>
