{% load staticfiles %}

<div class="container-fluid my_home_banner my_header_bg_color">
    <div class="row">
        <div class="col-md-6 my_home_banner-left">
            <br>
            <br>
            <div class="my_home_banner_left">

                <div class="my_home_banner_lef_text">
                    <p class="my_home_banner_title">Stickers Personalizados</p>
                    <p class="my_home_banner_subtitle my_title"><b>Fácil de ordenar por internet.</b> <br><b> Envíos a todo el Perú.</b></p>
                </div>
                <div class="row ">
                    <div class="col-md-6">
                        <a href="stickers" class="my_home_buttons btn btn-azul text-white btn-block">Comprar</a>
                    </div>
                    <br>
                    <div class="col-md-6">
                        <a href="{% url 'shop:SamplePackPage' %}"
                           class="my_home_buttons btn btn-naranja text-white btn-block">Muestras</a>
                    </div>
                </div>
            </div>
            <br>
            <br>
        </div>
        <div class="col-md-6">
            <picture>
                <source media="(max-width: 480px)" srcset="{% static 'img/home/banner_home_lion_mobile.png' %}">
                <source media="(max-width: 2056px)" srcset="{% static 'img/home/banner_home_lion.png' %}">
                <img class="my_home_banner_image" src="{% static 'img/home/banner_home_lion.png' %}">
            </picture>
        </div>
    </div>
</div>
