{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    History - Perfect Cushion Store
{% endblock %}
{% block content %}

    <br>
    <br>

    <div>
        <div class="text-center">
            <br>
            <h1 class="text-center my_title">Order History</h1>
            <br>
            {% if order_details %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Número de orden</th>
                        <th>Fecha de orden</th>
                        <th>Monto total</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in order_details %}
                        <tr>
                            <td>{{ order.transaction_id }}</td>
                            <td>{{ order.creation_date }}</td>
                            <td>S/. {{ order.amount }}</td>
                            <td><i class="fas fa-check"></i>&nbsp;Completo</td>
{#                            <td><a href="{% url 'order:order_detail' order.id %}">Ver orden</a></td>#}
                            <td><a href="">Ver orden</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>No tiene ninguna orden aún<br><br><a href="{% url 'shop:allProdCat' %}" class="btn btn-secondary">Seguir comprando</a> </p>
            {% endif %}
        </div>
    </div>
    <br>
    <br>
{% endblock %}