{% extends 'base.html' %}
{% load staticfiles %}
{% load shop_extras %}
{% block metadesciption %}
This is the shopping Cart.
{% endblock %}
{% block title %}
Carrito de compras - Stickers Gallito
{% endblock %}
{% block content %}



<script>
    Culqi.publicKey = '{{ culqi_my_public_key }}';
</script>

<script>
    Culqi.settings({
        title: 'Stickers Gallito Store',
        currency: 'PEN',
        description: 'Stickers varios',
        amount: {{ culqi_total }}
        });
</script>



<!-- {% if not cart_items and not sample_items %}

<div class="margin-top10">
    <div class="text-center">
        <br>
        <h1 class="text-center my_title">
            El Carrito de compras está vacio
        </h1>
        <br>
        <p>
            Haga click <a class="text-center" href="{% url 'shop:allCat' %}">aquí</a> para seguir comprando
        </p>
    </div>
</div>


{% else %} -->

<div class="container margin-top10 margin-bottom5">


    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
            <h1 class="text-center my_title">
                Tu carrito de compras
            </h1>
        </div>
    </div>

    <br>
    <br>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 text-center">
            <table class="table my_custom_table">
                <thead class="my_custom_thead">
                    <tr>
                        <th colspan="5">
                            Tus items
                        </th>
                    </tr>
                </thead>
                <tbody>

                    {% for cart_item in cart_items %}

                    {% if cart_item.file_a %}

                    <tr>

                        {% if cart_item.file_name_a|endswith:'.ai' %}

                        <td>
                            <img src="/static/img/admin/adobe_illustrator_file_logo.png" alt=""
                                class="float-left rounded" width="90" height="80">
                        </td>

                        {% else %}
                        <td>
                            <img src="{{ cart_item.file_a.url }}" alt="" class="float-left rounded" width="90"
                                height="90">
                        </td>

                        {% endif %}

                        <td class="text-left">
                            <p class="margin-bottom0"><b>{{ cart_item.product.name }}</b></p>
                            <p class="margin-bottom0">Tamaño: {{ cart_item.size }}</p>
                            <p class="margin-bottom0">Cantidad: {{ cart_item.quantity }} stickers</p>
                            <p class="margin-bottom0"><b>{{ cart_item.file_name_a }}</b></p>
                            <p class="margin-bottom0"><b>{{ cart_item.file_name_b }}</b></p>
                        </td>
                        <td>
                            S/{{ cart_item.sub_total }}
                            <a href="{% url 'carrito_de_compras:full_remove' cart_item.id %}" class="custom_icon"><i
                                    class="fas fa-trash-alt custom_icon"></i></a>
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td>
                            <img src="{{ cart_item.product.image.url }}" alt="" class="float-left rounded" width="90"
                                height="90">
                        </td>
                        <td class="text-left">
                            <b>{{ cart_item.product.name }}</b>
                            <br>
                            Tamaño: {{ cart_item.size }}
                            <br>
                            Cantidad: {{ cart_item.quantity }}
                        </td>
                        <td>
                            S/{{ cart_item.sub_total }}

                            <a href="{% url 'carrito_de_compras:full_remove' cart_item.id %}" class="custom_icon"><i
                                    class="fas fa-trash-alt custom_icon"></i></a>
                        </td>
                    </tr>

                    {% endif %}



                    {% endfor %}


                    <!-- MOSTRAR SAMPLE_ITEMS IN CART_DETAIL -->


                    {% for sample_item in sample_items %}


                    <tr>
                        {% if sample_item.file_a %}
                        <td>
                            <img src="{{ sample_item.file_a.url }}" alt="" class="float-left rounded" width="90"
                                height="90">
                        </td>
                        {% else %}
                        <td>
                            <img src="{{ sample_item.sample.image.url }}" alt="" class="float-left rounded" width="90"
                                height="90">
                        </td>
                        {% endif %}

                        <td class="text-left">
                            <p class="margin-bottom0"><b>{{ sample_item.sample.name }}</b></p>
                            <p class="margin-top0 margin-bottom0">Cantidad: {{ sample_item.quantity }} stickers</p>
                            <p class="margin-top0 margin-bottom0">Tamaño: {{ sample_item.size }}</p>
                        </td>
                        <td>
                            <p>S/{{ sample_item.sub_total }}

                                <a href="{% url 'carrito_de_compras:full_remove_sample' sample_item.id %}"
                                    class="custom_icon"><i class="fas fa-trash-alt custom_icon"></i></a>
                            </p>
                        </td>
                        <td></td>

                    </tr>

                    {% endfor %}

                </tbody>
            </table>
        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-6 text-center">

            <table class="table my_custom_table">

                <thead class="my_custom_thead">

                    <tr>
                        <th>
                            Checkout
                        </th>
                    </tr>
                </thead>
                <tboyd>
                    <tr>
                        <td>
                            Por favor, revise su Carrito de Compras antes de proceder con el pago de la
                            orden
                        </td>
                    </tr>
                    <tr>
                        <td class="text-left">
                            <div class="row">
                                <div class="col-6">
                                    Total: S/{{ total }}<br>
                                    {% if user.is_authenticated %}
                                    Costo de envío: S/{{ costo_despacho }}<br>
                                    Descuento: <span class="savings"><b>S/{{ descuento }}</b></span><br>
                                    A pagar: <strong>S/{{ total_a_pagar }}</strong><br>
                                    {% else %}
                                    Costo de envío: <b>Regístrese para poder brindarle el costo de envío.</b><br>
                                    Descuento: <span class="savings"><b>S/{{ descuento }}</b></span><br>
                                    A pagar: S/{{ total }} + costo de envío<br>
                                    {% endif %}

                                </div>
                                <div class="col-6">
                                    <div class="flex">
                                        <input type="text" id="user_cupon" style="display: inline-block; height: 36px;"
                                            placeholder="Ingrese cupón" class="margin-right2">
                                        <button type="submit" class="btn btn-secondary" id="cuponButton"
                                            style="display: inline-block; height: 36px;">Enviar</button>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>

                    {% if user.is_authenticated %}
                    <tr>
                        <td class="text-left">
                            <b>Dirección de envío:</b>
                            <select type="text" id="ShippingAddress">
                                <option value="{{ request.user.profile.shipping_address1 }}" selected>
                                    {{ request.user.profile.shipping_address1 }}</option>
                                <option value="{{ request.user.profile.shipping_address2 }}">
                                    {{ request.user.profile.shipping_address2 }}</option>
                            </select>
                        </td>
                    </tr>
                    {% endif %}

                    <tr>
                        <td>
                            <div class="bg-buttons margin-top3 padding-top2 padding-bottom10">

                                {% if user.is_authenticated and total > 0 %}
                                <div class="tops">
                                    <!-- <div class="margin-top4">
                                    <button id="buyButton"
                                        class="btn-azul btn-block my_custom_btn margin-bottom2 width60 display-inline">Pagar
                                        con Tarjeta
                                    </button>
                                    <i class="fas fa-exclamation-circle info" data-toggle="modal" data-target="#PayWithCardExplanation"></i> 
                                    </div> -->
                                    <div class="margin-top4">
                                        <button id="depositButton"
                                            class="btn-naranja btn-block my_custom_btn width60 display-inline"
                                            checked>Pagar
                                            con
                                            Efectivo
                                        </button>
                                        <i class="fas fa-exclamation-circle info" data-toggle="modal"
                                            data-target="#PayWithCashExplanation"></i>
                                    </div>
                                    <div class="">
                                        <a class="btn-seguir-comprando btn-block my_custom_btn margin-top4 width60 display-inline"
                                            href="{% url 'shop:allCat' %}">Seguir comprando</a>
                                        <i class="fas fa-exclamation-circle info" data-toggle="modal"
                                            data-target="#SeguirComprandoExplanation"></i>
                                    </div>
                                </div>

                                {% elif user.is_authenticated and total == 0 %}

                                <div class="tops">
                                    <!-- <div class="margin-top4">
                                        <button id="EmptyCartButton" data-toggle="modal" data-target="#exampleModal"
                                            class="btn-azul btn-secondary btn-block my_custom_btn margin-bottom2 width60 display-inline">Pagar
                                            con Tarjeta
                                        </button>
                                        <i class="fas fa-exclamation-circle info" data-toggle="modal" data-target="#PayWithCardExplanation"></i> 
                                    </div> -->
                                    <div class="margin-top4">
                                        <button id="depositButtonEmptyCart" data-toggle="modal"
                                            data-target="#exampleModal"
                                            class="btn-naranja btn-block my_custom_btn width60 display-inline"
                                            checked>Pagar
                                            con
                                            Efectivo
                                        </button>
                                        <i class="fas fa-exclamation-circle info" data-toggle="modal"
                                            data-target="#PayWithCashExplanation"></i>
                                    </div>
                                    <div class="">
                                        <a class="btn-seguir-comprando btn-block my_custom_btn margin-top4 width60 display-inline"
                                            href="{% url 'shop:allCat' %}">Seguir comprando</a>
                                        <i class="fas fa-exclamation-circle info" data-toggle="modal"
                                            data-target="#SeguirComprandoExplanation"></i>
                                    </div>
                                </div>

                                {% else %}

                                <!-- Button trigger modal -->
                                <div class="tops">
                                    <!-- <div class="margin-top4">
                                    <button id="CannotbuyButton"
                                        class="btn-azul btn-secondary btn-block my_custom_btn margin-bottom2 width60 display-inline"
                                        data-toggle="modal" data-target="#CannotbuyButtonModal">
                                        Pagar con Tarjeta
                                    </button>
                                    <i class="fas fa-exclamation-circle info" data-toggle="modal" data-target="#PayWithCardExplanation"></i>  
                                </div> -->
                                    <div class="margin-top4"></div>
                                    <button id="depositButtonCannotbuy"
                                        class="btn-naranja btn-block my_custom_btn width60 display-inline"
                                        data-toggle="modal" data-target="#CannotbuyButtonModal" checked>Pagar con
                                        Efectivo
                                    </button>
                                    <i class="fas fa-exclamation-circle info" data-toggle="modal"
                                        data-target="#PayWithCashExplanation"></i>
                                </div>
                                <div class="">
                                    <a class="btn-seguir-comprando btn-block my_custom_btn width60 display-inline"
                                        href="{% url 'shop:allCat' %}">Seguir comprando</a>
                                    <i class="fas fa-exclamation-circle info" data-toggle="modal"
                                        data-target="#SeguirComprandoExplanation"></i>
                                </div>
                            </div>

                            {% endif %}

        </div>

        </td>
        </tr>
        </tboyd>
        </table>
    </div>
</div>
</div>

<!-- {% endif %} -->

<script>
    $("#buyButton").hide();
    $("#EmptyCartButton").hide();
    $("#CannotbuyButton").hide();
    $(function () {

        $("input.pago-tarjeta[type='radio']").click(function () {
            if ($(this).is(':checked')) {
                $("#buyButton").fadeIn("slow", function () {
                    // Animation complete
                });
                $("#EmptyCartButton").fadeIn("slow", function () {
                    // Animation complete
                });
                $("#CannotbuyButton").fadeIn("slow", function () {
                    // Animation complete
                });
                $("#depositButton").hide();
                $("#depositButtonEmptyCart").hide();
                $("#depositButtonCannotbuy").hide();
                $(".pago-deposito-detalle").hide();
            }
        });
    });

    $(function () {
        {
            #$('input[type="radio"]').click(function () { # }
            $("input.pago-deposito[type='radio']").click(function () {
                if ($(this).is(':checked')) {

                    $("#depositButton").fadeIn("slow", function () {
                        // Animation complete
                    });
                    $("#depositButtonEmptyCart").fadeIn("slow", function () {
                        // Animation complete
                    });
                    $("#depositButtonCannotbuy").fadeIn("slow", function () {
                        // Animation complete
                    });
                    $(".pago-deposito-detalle").show();
                    $("#buyButton").hide();
                    $("#EmptyCartButton").hide();
                    $("#CannotbuyButton").hide();
                }
            });
        });
</script>


<script>
    $('#EmptyCartButton').on('click', function (e) {
        // Abre el formulario con la configuración en Culqi.settings
        alert("Por favor, añada un pedido a su carrito de compras.");
        e.preventDefault();
    });

    $('#buyButton').on('click', function (e) {
        // Abre el formulario con la configuración en Culqi.settings
        Culqi.open();
        e.preventDefault();
    });

    /* depositButton */

    $('#depositButtonEmptyCart').on('click', function (e) {
        // Abre el formulario con la configuración en Culqi.settings
        alert("Por favor, añada un pedido a su carrito de compras.");
        e.preventDefault();
    });

</script>

<script>
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    function culqi() {

        var $container = $('.general-container').addClass("preloader");
        var shipping_address = $('#ShippingAddress').val();

        if (Culqi.token) {
            $.post("{% url 'carrito_de_compras:cart_charge_credit_card' %}", {
                payment_method: 'credit_card_payment',
                status: 'aprobado',
                amount: {{ culqi_total }},
        currency_code: 'PEN',
            email: Culqi.token.email,
                source_id: Culqi.token.id,
                    last_four: Culqi.token.last_four,
                        shipping_cost: { { costo_despacho } },
        shipping_address: shipping_address,
                    },
                ).done(function () {
            window.location.href = "{% url 'order:thanks_credit_card' %}";
        }).fail(function (xhr, status, error) {
            window.location.href = "{% url 'carrito_de_compras:cart_detail' %}";
            alert("Hubo un problema con su compra con Tarjeta de Crédito. No hemos realizado ningún cobro. Intente nuevamente, o puede pagar con efectivo eligiendo la opción Pago en Efectivo");
        });
            } else {

        //
    }
        }
</script>

<script>

    $('#depositButton').on('click', function (e) {
        // Abre el formulario con la configuración en Culqi.settings
        var shipping_address = $('#ShippingAddress').val()
        $.post("{% url 'carrito_de_compras:cart_charge_deposit_payment' %}", {
            payment_method: 'deposit_payment',
            amount: {{ total_a_pagar }},
        stickers_price: {{ total }},
        discount: {{ descuento }},
        currency_code: 'PEN',
        source_id: "10",
        last_four: 1111,
        shipping_cost: {{ costo_despacho }},
        shipping_address: shipping_address,
                },
    ).done(function () {
        window.location.href = "{% url 'order:thanks_deposit_payment' %}";
    })
        });

</script>



<script>

    $('#cuponButton').on('click', function (e) {
        //
        var user_cupon = $('#user_cupon').val()
        $.post("{% url 'marketing:cupones' %}", {
            user_cupon: user_cupon,
        },
        ).done(function () {
            window.location.href = "{% url 'carrito_de_compras:cart_detail' %}";
        })
    });

</script>


<!-- Modal No Registrado -->
<div class="modal fade" id="CannotbuyButtonModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title my_title" id="exampleModalLabel">Regístrate</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Hola Gallito(a), recuerda que debes registrarte para poder realizar la compra. <br>
                Registrándote podrás ingresar la dirección a donde quieres que enviemos los productos.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Explicacion métodos de pago -->

<!-- Pagar con Tarjeta -->

<div class="modal fade" id="PayWithCardExplanation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title my_title" id="exampleModalLongTitle">Pagar con Tarjeta</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Al elegir este método de pago aparecerá un ventana para que ingrese los datos de su tarjeta. Esta
                    ventana lo conectará con nuestra pasarela de pagos: Culqi.</p>
                <p>Culqi es una empresa peruana que gestiona directamente el pago de sus productos con su banco.
                    <p>Cualquier entidad involucrada con la captura, envío y almacenamiento de datos de tarjetas de
                        crédito y débito debe cumplir con la normativa <a
                            href="https://www.pcisecuritystandards.org/pci_security/">PCI DSS Payment Card Industry Data
                            Security Standards</a>. Culqi nos ayuda a simplificar este proceso ofreciéndoles a
                        nuestros clientes una integración 100% segura.</p>
                    <p>Los datos de su tarjeta de crédito nunca ingresan a nuestro sistema, la transacción se realiza
                        mediante el navegador web que utilice y su banco, mediante Culqi; quienes
                        actúan como un intermediario entre ambos.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>



<!-- Pagar con Efectivo -->

<div class="modal fade" id="PayWithCashExplanation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title my_title" id="exampleModalLongTitle">Pagar con Efectivo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Al dar click en esta opción nuestro sistema generará una orden con todos los productos que haya
                    colocado en su carrito de compras.</p>
                <p>En pantalla se le mostrará: su número de orden, el total a pagar y las cuentas bancarias para hacer
                    el depósito. También
                    le enviaremos un correo con estos detalles.</p>
                <p>La fecha de entrega se coordinará con Ud. vía correo electrónico, una vez que cancele su orden.</p>
                <p>Recuerde que tendrá 48 horas para cancelar su orden, de lo contrario la misma será anulada en nuestro
                    sistema.</p>
                <p>Para cualquier duda sobre este método de pago, puede escribirnos a stickersgallito@gmail.com</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


<!-- Seguir comprando -->

<div class="modal fade" id="SeguirComprandoExplanation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title my_title" id="exampleModalLongTitle">Seguir comprando</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Puede seguir comprando con total tranquilidad, los producto que ya agregó al carrito de compras
                    permanecerán en él, incluso si regresa a otra sección de la página.</p>
                <p>Los productos se eliminarán del carrito de compras, solo si usted los elimina manualmente o
                    o si cierra su sesión.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<script>
    $('#myModal').on('shown.bs.modal', function () {
        $('#myInput').focus()
    })
</script>

{% endblock %}