{% extends 'base.html' %}
{% load staticfiles %}
{% block metadescription %}
{% if category %}
{{ category.description|truncatewords:155 }}
{% else %}
¡Bienvenidos a Stickers Gallito Perú!
{% endif %}
{% endblock %}
{% block title %}
{% if category %}
{{ category.name }}
{% else %}
Stickers personalizados y más
{% endif %}
{% endblock %}

{% block content %}

<div class="container-fluid margin-bottom5 margin-top5">
    <div class="container">

        <div class="row margin-top5">
            <div class="col-md-12">
                <h1 class="text-center">Envíos a todo el Perú <img src="{% static 'img/home/peru-flag.png' %}"
                        width="40px" height="40px"></h1>

            </div>
        </div>
        <div class="row" style="margin-bottom: 0%;">
            <div class="col-md-12 margin-top3">
                <ol style="text-align: left; list-style-position: inside;">
                    <h2>¿Cómo adquiero mis stickers?</h2>
                    <div class="margin-top3">
                    <li>Elige qué tipo de producto deseas: stickers transparentes, stickers cuadrados,
                    stickers troquelados, etc.</li>
                    <li>Luego indica el tamaño y la cantidad de stickers que deseas.</li>
                    <li>Sube tu diseño en nuestra web.</li>
                    <li>Haz el depósito por tu orden de stickers a nuestra cuenta bancaria:</li> 
                        <ul>
                            <li><b>BCP - CTA. AHORROS:</b> 191-93277552-0-47</li>
                            <li><b>BCP - CTA. INTERBANCARIA:</b> 002-191-193277552047-54</li>
                        </ul>
                    <li>En unos días enviaremos tus stickers a cualquier parte del Perú en la que te encuentres.</li>
                    </div>
                </ol>    
            </div>
            <!-- <div class="col-md-1"></div> -->
        </div>
        
    </div>



    <div class="text-center" style="margin-top: 2%;">
        <div class="row">
            <div class="col-md-12">
                <p class="my_title">¡Suscríbete y recibe nuestras ofertas!</p>
            </div>
        </div>
        <div class="row">

            <div class="col-md-12">
                {% csrf_token %}
                <form action="{% url 'marketing:email_signup_form' %}" method="post">
                    {{ email_signup_form }}
                    <button type="submit" class="btn">Suscribirse</button>
                </form>
            </div>
        </div>


        <div class="row margin-top3">
            <div class="col-md-12">
                <p class="my_title">Stickers personalizados en 100% vinyl y laminados para mayor protección.</p>
            </div>
        </div>

        <div class="row margin-bottom5 margin-top3">

                <div class="text-center col-md-4">
                    <img src="{% static 'img/clientes/dj_naoki_stickers_sobre.jpg' %}" width="240px" height="220px">
                </div>
                <div class="col-md-4">
                        <img src="{% static 'img/clientes/cute_dog.jpg' %}" width="240px" height="220px">
                </div>
                <div class="text-center col-md-4">
                    <img src="{% static 'img/clientes/cocodrilo_m.JPG' %}" width="240px" height="220px">
                </div>
    
        </div>

        <div class="row margin-bottom5 margin-top3 margin-bottom5">

                <div class="text-center col-md-4">
                    <img src="{% static 'img/clientes/armamento.jpg' %}" width="240px" height="220px">
                </div>
                <div class="text-center col-md-4">
                    <img src="{% static 'img/clientes/gustavo.jpg' %}" width="240px" height="220px">
                </div>
                <div class="text-center col-md-4">
                    <img src="{% static 'img/clientes/unicornio.jpg' %}" width="240px" height="220px">
                </div>
    
        </div>


    </div>

</div>
</div>

<!-- Modal Image -->
<div class="modal fade" id="StickersClientes-dog-1" tabindex="-1" role="dialog"
aria-labelledby="exampleModalLongTitle" aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-body">
            <img class="card-img-top" src="{% static 'img/stickers/dogs/dog-1-sticker.jpg' %}" alt="Card image cap">
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
    </div>
</div>
</div>

<script>
    $(".dog-1").click(function () {
        $("#StickersClientes-dog-1").modal('show');
    });
</script>

{% endblock %}