{% extends 'base.html' %}
{% load staticfiles %}
{% block metadescription %}
    {% if category %}
        {{ category.description|truncatewords:155 }}
    {% else %}
        Bienvenidos a Stickers Gallito
    {% endif %}
{% endblock %}
{% block title %}
    {% if category %}
        {{ category.name }} - Stickers Gallito
    {% else %}
        Mira nuestros productos - Stickers Gallito
    {% endif %}
{% endblock %}

{% block content %}

    <br>
    <br>
    <br>
    <br>
    <div class="row">

        <div class="col-md-1"></div>

        <div class="col-md-5">
            <h2 class="text-center">{{ product.name }}</h2>
            <p class="text-center">
                <a class=""><i class="gold-star fas fa-star"></i></a>
                <a class=""><i class="gold-star fas fa-star"></i></a>
                <a class=""><i class="gold-star fas fa-star"></i></a>
                <a class=""><i class="gold-star fas fa-star"></i></a>
                <a class=""><i class="gold-star fas fa-star-half-alt"></i></a>
                858 reviews
            </p>
            <div class="text-center">
                <img src="{{ product.image.url }}" width="200px" height="160px">

            </div>
            <br>
            <p class="text-center">Custom kiss cut stickers easily peel away from the backing. Print on the surrounding
                border
                as
                well as the stickers. Made from durable vinyl that resists scratching, heat, water and
                sunlight.</p>
        </div>

        <div class="col-md-1"></div>

        <div class="col-md-4 col-xs-12">

            <div class="semi-transparent padded rounded">

                <div class="bg-white rounded padded padded-40">

                    <form method="post">
                        {% csrf_token %}

                        <div class="">

                            <div id="size">

                                <legend class="text-size16 bold-font"> {{ form.size.label }}</legend>


                                <ul class="form-items">
                                    <li>
                                                <span>
                                                    {{ form.size.0.tag }}
                                                    {{ form.size.0.choice_label }}
                                                </span>
                                    </li>
                                    <li>
                                                <span>
                                                    {{ form.size.1.tag }}
                                                    {{ form.size.1.choice_label }}
                                                </span>
                                    </li>
                                    <li>
                                                <span>
                                                    {{ form.size.2.tag }}
                                                    {{ form.size.2.choice_label }}
                                                </span>
                                    </li>
                                    <li>
                                                <span>
                                                    {{ form.size.3.tag }}
                                                    {{ form.size.3.choice_label }}
                                                </span>
                                    </li>
                                </ul>

                            </div>

                            {% if sample_form %}

                                <div id="quantity">
                                </div>

                            {% else %}
                                <div id="quantity">

                                    <legend class="text-size16 bold-font"> {{ form.quantity.label }}</legend>

                                    <ul class="form-items">
                                        <li>
                                            <span>
                                                {{ form.quantity.0.tag }}
                                                {{ form.quantity.0.choice_label }}
                                            </span>
                                            <span class="quantity_50"></span>
                                            <span class="savings savings_50"></span>
                                        </li>
                                        <li>
                                            <span>
                                                {{ form.quantity.1.tag }}
                                                {{ form.quantity.1.choice_label }}
                                            </span>
                                            <span class="quantity_100"></span>
                                            <span class="savings savings_100"></span>
                                        </li>
                                        <li>
                                            <span>
                                                {{ form.quantity.2.tag }}
                                                {{ form.quantity.2.choice_label }}
                                            </span>
                                            <span class="quantity_200"></span>
                                            <span class="savings savings_200"></span>
                                        </li>
                                        <li>
                                            <span>
                                                {{ form.quantity.3.tag }}
                                                {{ form.quantity.3.choice_label }}
                                            </span>
                                            <span class="quantity_300"></span>
                                            <span class="savings savings_300"></span>
                                        </li>
                                        <li>
                                            <span>
                                                {{ form.quantity.4.tag }}
                                                {{ form.quantity.4.choice_label }}
                                            </span>
                                            <span class="quantity_500"></span>
                                            <span class="savings savings_500"></span>
                                        </li>
                                    </ul>

                                </div>

                            {% endif %}

                        </div>


                        <button type="submit" class="btn btn-naranja text-white btn-block">Continuar
                        </button>
                        {#                                    <a  href="#" class="btn btn-naranja text-white btn-block">Continuar#}
                        </a>
                        <br>
                        <br>
                        <p class="text-size10 text-center">Siguiente: subir imagen</p>

                    </form>

                </div>
            </div>

        </div>
        <div class="col-md-1"></div>
    </div>

    </div>

    {#    </div>#}

    <br>
    <br>

    <script>

        $('#id_size_0').attr('checked', true);

        $(".quantity_50").html("S/.50");
        {#$(".savings_50").html("&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;");#}
        $(".quantity_100").html("S/.70");
        $(".savings_100").html("Ahorra 30%");
        $(".quantity_200").html("S/.90");
        $(".savings_200").html("Ahorra 55%");
        $(".quantity_300").html("S/.108");
        $(".savings_300").html("Ahorra 64%");
        $(".quantity_500").html("S/.140");
        $(".savings_500").html("Ahorra 78%");

        $('input:radio[name="size"]').change(function () {
            if ($(this).val() == '5cm x 5cm') {
                $(".quantity_50").html("S/.50");
                {#$(".savings_50").html("&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;");#}
                $(".quantity_100").html("S/.70");
                $(".savings_100").html("Ahorra 30%");
                $(".quantity_200").html("S/.90");
                $(".savings_200").html("Ahorra 55%");
                $(".quantity_300").html("S/.108");
                $(".savings_300").html("Ahorra 64%");
                $(".quantity_500").html("S/.140");
                $(".savings_500").html("Ahorra 78%");
            } else if ($(this).val() == '7cm x 7cm') {
                $(".quantity_50").html("S/.70");
                {#$(".savings_50").html("&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;");#}
                $(".quantity_100").html("S/.90");
                $(".savings_100").html("Ahorra 36%");
                $(".quantity_200").html("S/.130");
                $(".savings_200").html("Ahorra 54%");
                $(".quantity_300").html("S/.160");
                $(".savings_300").html("Ahorra 69%");
                $(".quantity_500").html("S/.240");
                $(".savings_500").html("Ahorra 66%");
            } else if ($(this).val() == '10cm x 10cm') {
                $(".quantity_50").html("S/.90");
                {#$(".savings_50").html("&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;");#}
                $(".quantity_100").html("S/.115");
                $(".savings_100").html("Ahorra 36%");
                $(".quantity_200").html("S/.180");
                $(".savings_200").html("Ahorra 50%");
                $(".quantity_300").html("S/.280");
                $(".savings_300").html("Ahorra 48%");
                $(".quantity_500").html("S/.450");
                $(".savings_500").html("Ahorra 50%");
            } else if ($(this).val() == '13cm x 13cm') {
                $(".quantity_50").html("S/.200");
                {#$(".savings_50").html("&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;");#}
                $(".quantity_100").html("S/.370");
                $(".savings_100").html("Ahorra 10%");
                $(".quantity_200").html("S/.430");
                $(".savings_200").html("Ahorra 46%");
                $(".quantity_300").html("S/.500");
                $(".savings_300").html("Ahorra 58%");
                $(".quantity_500").html("S/.900");
                $(".savings_500").html("Ahorra 55%");
            }
        });
    </script>

{% endblock %}