{% extends 'base.html' %}
{% load staticfiles %}
{% block metadescription %}
    {% if category %}
        {{ category.description|truncatewords:155 }}
    {% else %}
        Bienvenidos a Stickers Gallito
    {% endif %}
{% endblock %}
{% block title %}
    {% if category %}
        {{ category.name }} - Stickers Gallito
    {% else %}
        Mira nuestros productos - Stickers Gallito
    {% endif %}
{% endblock %}

{% block content %}




    <style>
        .hidden {
            display: none;
        }
    </style>

    <style>

        @import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
        /* NEW */
        .col-md-6.col-lg-6 {
            display: flex;
        }

        .rating > label:before {

            font-size: 1.25em;
            font-family: FontAwesome;
            display: inline-block;
            content: "\f005";
        }

        /* END */
        fieldset, label {
            margin: 0;
            padding: 0;
        }

        body {
            margin: 20px;
        }

        h1 {
            font-size: 1.5em;
            margin: 10px;
        }

        /****** Style Star Rating Widget *****/

        .rating {
            border: none;
            float: left;
        }

        .rating > input {
            display: none;
        }


        .rating > .half:before {
            content: "\f089";
            position: absolute;
        }

        .rating > label {
            color: #ddd;
            float: right;
        }

        /***** CSS Magic to Highlight Stars on Hover *****/

        .rating > input:checked ~ label, /* show gold star when clicked */
        .rating:not(:checked) > label:hover, /* hover current star */
        .rating:not(:checked) > label:hover ~ label {
            color: #FFD700;
        }

        /* hover previous stars in list */

        .rating > input:checked + label:hover, /* hover current star when changing rating */
        .rating > input:checked ~ label:hover,
        .rating > label:hover ~ input:checked ~ label, /* lighten current selection */
        .rating > input:checked ~ label:hover ~ label {
            color: #FFED85;
        }
    </style>

    {% if product %}

        <br>
        <br>
        <br>
        <br>
        <div class="row">

            <div class="col-md-1"></div>

            <div class="col-md-5">
                <h2 class="text-center">{{ product.name }}</h2>
                <p class="text-center">
                    <a class=""><i class="gold-star fas fa-star"></i></a>
                    <a class=""><i class="gold-star fas fa-star"></i></a>
                    <a class=""><i class="gold-star fas fa-star"></i></a>
                    <a class=""><i class="gold-star fas fa-star"></i></a>
                    <a class=""><i class="gold-star fas fa-star-half-alt"></i></a>
                    858 reviews
                </p>
                <div class="text-center">

                    <img src="{{ product.image.url }}" width="200px" height="160px">
                    <br>
                    <p class="text-center">{{ product.category.description }}</p>
                    <br>
                    <hr>
                    <br>

                </div>

                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <p id="ya-conoces-nuestros-productos" class="text-center">¿Ya conoces
                            nuestros {{ product.name }}?</p>
                    </div>
                </div>
            <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <p id="animate-a-dejar-tu-comentario" class="text-size12">Anímate y haz un comentario para que
                            otras personas conozcan tu
                            experiencia con
                            StickersGallito.pe</p>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <br>
                        <button id="add_review" class="btn-comentario">Añadir comentario</button>
                    </div>
            </div>


                        <div class="row">

                            <div class="col-md-6 col-lg-6">
                                <fieldset class="rating hidden text-center">
                                     <span class="calificanos-text hidden">Califícanos: &nbsp;&nbsp;</span>
                                    <input type="radio" id="star5" name="rating" value="5"/><label class="full"
                                                                                                   for="star5"
                                                                                                   title="Awesome - 5 stars"></label>
                                    <input type="radio" id="star4half" name="rating" value="4.5"/><label class="half"
                                                                                                         for="star4half"
                                                                                                         title="Pretty good - 4.5 stars"></label>
                                    <input type="radio" id="star4" name="rating" value="4"/><label class="full"
                                                                                                   for="star4"
                                                                                                   title="Pretty good - 4 stars"></label>
                                    <input type="radio" id="star3half" name="rating" value="3.5"/><label class="half"
                                                                                                         for="star3half"
                                                                                                         title="Meh - 3.5 stars"></label>
                                    <input type="radio" id="star3" name="rating" value="3"/><label class="full"
                                                                                                   for="star3"
                                                                                                   title="Meh - 3 stars"></label>
                                    <input type="radio" id="star2half" name="rating" value="2.5"/><label class="half"
                                                                                                         for="star2half"
                                                                                                         title="Kinda bad - 2.5 stars"></label>
                                    <input type="radio" id="star2" name="rating" value="2"/><label class="full"
                                                                                                   for="star2"
                                                                                                   title="Kinda bad - 2 stars"></label>
                                    <input type="radio" id="star1half" name="rating" value="1.5"/><label class="half"
                                                                                                         for="star1half"
                                                                                                         title="Meh - 1.5 stars"></label>
                                    <input type="radio" id="star1" name="rating" value="1"/><label class="full"
                                                                                                   for="star1"
                                                                                                   title="Sucks big time - 1 star"></label>
                                    <input type="radio" id="starhalf" name="rating" value="0.5"/><label class="half"
                                                                                                        for="starhalf"
                                                                                                        title="Sucks big time - 0.5 stars"></label>
                                </fieldset>
                            </div>
                        </div>

                <div class="row">

                    <div class="col-12">
                        <textarea id="user_comment" class="hidden" rows="4" cols="70"></textarea>
                    </div>
                    <div class="col-12">
                        <br>
                        <button id="send_review" class="btn hidden">Enviar comentario</button>
                    </div>
                </div>

                <hr>


            </div>


            <div class="col-md-1"></div>

            <div class="col-md-4 col-xs-12">

                <div class="semi-transparent padded rounded">

                    <div class="bg-white rounded padded padded-40">

                        <form method="post">
                            {% csrf_token %}

                            <div class="">

                                <div id="size">

                                    <legend class="text-size16 bold-font"> {{ form.size.label }}</legend>


                                    <ul class="form-items">
                                        <li>
                                                <span>
                                                    {{ form.size.0.tag }}
                                                    {{ form.size.0.choice_label }}
                                                </span>
                                        </li>
                                        <li>
                                                <span>
                                                    {{ form.size.1.tag }}
                                                    {{ form.size.1.choice_label }}
                                                </span>
                                        </li>
                                        <li>
                                                <span>
                                                    {{ form.size.2.tag }}
                                                    {{ form.size.2.choice_label }}
                                                </span>
                                        </li>
                                        <li>
                                                <span>
                                                    {{ form.size.3.tag }}
                                                    {{ form.size.3.choice_label }}
                                                </span>
                                        </li>
                                    </ul>

                                </div>


                                <div id="quantity">

                                    <legend class="text-size16 bold-font"> {{ form.quantity.label }}</legend>

                                    <ul class="form-items">
                                        <li>
                                            <span>
                                                {{ form.quantity.0.tag }}
                                                {{ form.quantity.0.choice_label }}
                                            </span>
                                            <span name="price" class="quantity_50"></span>
                                            <span class="savings savings_50"></span>
                                        </li>
                                        <li>
                                            <span>
                                                {{ form.quantity.1.tag }}
                                                {{ form.quantity.1.choice_label }}
                                            </span>
                                            <span name="price" class="quantity_100"></span>
                                            <span class="savings savings_100"></span>
                                        </li>
                                        <li>
                                            <span>
                                                {{ form.quantity.2.tag }}
                                                {{ form.quantity.2.choice_label }}
                                            </span>
                                            <span name="price" class="quantity_200"></span>
                                            <span class="savings savings_200"></span>
                                        </li>
                                        <li>
                                            <span>
                                                {{ form.quantity.3.tag }}
                                                {{ form.quantity.3.choice_label }}
                                            </span>
                                            <span name="price" class="quantity_300"></span>
                                            <span class="savings savings_300"></span>
                                        </li>
                                        <li>
                                            <span>
                                                {{ form.quantity.4.tag }}
                                                {{ form.quantity.4.choice_label }}
                                            </span>
                                            <span name="price" class="quantity_500"></span>
                                            <span class="savings savings_500"></span>
                                        </li>
                                    </ul>

                                </div>


                            </div>


                            <button type="submit" class="btn btn-naranja text-white btn-block">Continuar
                            </button>
                            {#                                    <a  href="#" class="btn btn-naranja text-white btn-block">Continuar#}
                            </a>
                            <br>
                            <br>
                            <p class="text-size10 text-center">Siguiente: subir imagen</p>

                        </form>

                    </div>
                </div>

            </div>
            <div class="col-md-1"></div>
        </div>
        </div>
        <br>

        </div>



        <script>
            $("#add_review").click(function () {
                $("#user_comment").removeClass('hidden');
                $("fieldset").removeClass('hidden');
                $(".calificanos-text").removeClass('hidden');
                $(this).addClass('hidden');
                $("#animate-a-dejar-tu-comentario").addClass('hidden');
                $("#send_review").removeClass('hidden');
                $("#ya-conoces-nuestros-productos").text("Déjanos tu comentario aquí:");
            });
        </script>

        <script>

            function get_review_stars() {
                var radios = document.getElementsByName('rating');
                for (var i = 0, length = radios.length; i < length; i++) {
                    if (radios[i].checked) {
                        // do whatever you want with the checked radio
                        var review_stars = radios[i].value;
                        // only one radio can be logically checked, don't check the rest
                        break;
                    }
                }
                return review_stars; // <---- return it!
            }

            function get_user_comment() {

                var user_comment = $("#user_comment").val().trim();
                return user_comment; // <---- return it!
            }


            $("#send_review").click(function () {

                $.post("{% url 'shop:make_review_view' %}", {
                        category_slug: "{{ product.category.slug }}",
                        product_slug: "{{ product.slug }}",
                        review: get_user_comment(),
                        stars: get_review_stars(),
                    },
                ).done(function () {
                    $("#user_comment").addClass('hidden');
                    $("fieldset").addClass('hidden');
                    $("#ya-conoces-nuestros-productos").text('¡Gracias por ayudarnos a mejorar!').delay(3000).fadeOut('slow');
                    $(".calificanos-text").addClass('hidden');
                    $("#send_review").addClass('hidden');
                })
            });

        </script>

    {% else %}


        <br>
        <br>
        <br>
        <br>
        <div class="row">

            <div class="col-md-1"></div>

            <div class="col-md-5">
                <h2 class="text-center">{{ sample.name }}</h2>
                <p class="text-center">
                    <a class=""><i class="gold-star fas fa-star"></i></a>
                    <a class=""><i class="gold-star fas fa-star"></i></a>
                    <a class=""><i class="gold-star fas fa-star"></i></a>
                    <a class=""><i class="gold-star fas fa-star"></i></a>
                    <a class=""><i class="gold-star fas fa-star-half-alt"></i></a>
                    858 reviews
                </p>
                <div class="text-center">

                    <img src="{{ sample.image.url }}" width="200px" height="160px">
                    <br>
                    <p class="text-center">{{ sample.category.description }}</p>
                </div>


                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <p id="ya-conoces-nuestros-productos" class="text-center">¿Ya conoces nuestros {{ sample.name }}?</p>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <p id="animate-a-dejar-tu-comentario" class="text-size12">Anímate y haz un comentario para que
                            otras personas conozcan tu
                            experiencia con
                            StickersGallito.pe</p>
                    </div>
                    <div class="col-lg-6 col-md-6">

                        <button id="add_review" class="btn-comentario">Añadir comentario</button>
                    </div>

                    <div class="col-12">
                        <fieldset class="rating hidden text-center">
                            <span class="calificanos-text hidden">Califícanos: &nbsp;&nbsp;</span>
                            <input type="radio" id="star5" name="rating" value="5"/><label class="full" for="star5"
                                                                                           title="Awesome - 5 stars"></label>
                            <input type="radio" id="star4half" name="rating" value="4.5"/><label class="half"
                                                                                                 for="star4half"
                                                                                                 title="Pretty good - 4.5 stars"></label>
                            <input type="radio" id="star4" name="rating" value="4"/><label class="full" for="star4"
                                                                                           title="Pretty good - 4 stars"></label>
                            <input type="radio" id="star3half" name="rating" value="3.5"/><label class="half"
                                                                                                 for="star3half"
                                                                                                 title="Meh - 3.5 stars"></label>
                            <input type="radio" id="star3" name="rating" value="3"/><label class="full" for="star3"
                                                                                           title="Meh - 3 stars"></label>
                            <input type="radio" id="star2half" name="rating" value="2.5"/><label class="half"
                                                                                                 for="star2half"
                                                                                                 title="Kinda bad - 2.5 stars"></label>
                            <input type="radio" id="star2" name="rating" value="2"/><label class="full" for="star2"
                                                                                           title="Kinda bad - 2 stars"></label>
                            <input type="radio" id="star1half" name="rating" value="1.5"/><label class="half"
                                                                                                 for="star1half"
                                                                                                 title="Meh - 1.5 stars"></label>
                            <input type="radio" id="star1" name="rating" value="1"/><label class="full" for="star1"
                                                                                           title="Sucks big time - 1 star"></label>
                            <input type="radio" id="starhalf" name="rating" value="0.5"/><label class="half"
                                                                                                for="starhalf"
                                                                                                title="Sucks big time - 0.5 stars"></label>
                        </fieldset>

                    </div>

                    <div class="col-12">
                        <textarea id="user_comment" class="hidden" rows="4" cols="70"></textarea>
                    </div>
                    <div class="col-12">
                        <br>
                        <button id="send_review" class="btn hidden">Enviar comentario</button>
                    </div>
                </div>


            </div>

            <div class="col-md-1"></div>

            <div class="col-md-4 col-xs-12">

                <div class="semi-transparent padded rounded">

                    <div class="bg-white rounded padded padded-40">

                        <form method="post">
                            {% csrf_token %}

                            <div class="">

                                <div id="size">

                                    <legend class="text-size16 bold-font"> {{ form.size.label }}</legend>


                                    <ul class="form-items">
                                        <li>
                                                <span>
                                                    {{ form.size.0.tag }}
                                                    {{ form.size.0.choice_label }}
                                                </span>
                                        </li>
                                        <li>
                                                <span>
                                                    {{ form.size.1.tag }}
                                                    {{ form.size.1.choice_label }}
                                                </span>
                                        </li>
                                        <li>
                                                <span>
                                                    {{ form.size.2.tag }}
                                                    {{ form.size.2.choice_label }}
                                                </span>
                                        </li>
                                        <li>
                                                <span>
                                                    {{ form.size.3.tag }}
                                                    {{ form.size.3.choice_label }}
                                                </span>
                                        </li>
                                    </ul>

                                </div>


                                <div id="quantity">
                                </div>

                            </div>


                            <button type="submit" class="btn btn-naranja text-white btn-block">Continuar
                            </button>
                            {#                                    <a  href="#" class="btn btn-naranja text-white btn-block">Continuar#}
                            </a>
                            <br>
                            <br>
                            <p class="text-size10 text-center">Siguiente: subir imagen</p>

                        </form>

                    </div>
                </div>

            </div>
            <div class="col-md-1"></div>
        </div>

        <br>

        </div>




        <script>
            $("#add_review").click(function () {
                $("#user_comment").removeClass('hidden');
                $("fieldset").removeClass('hidden');
                $(this).addClass('hidden');
                $("#animate-a-dejar-tu-comentario").addClass('hidden');
                $("#send_review").removeClass('hidden');
                $("#ya-conoces-nuestros-productos").text("Déjanos tu comentario aquí:");
            });
        </script>

        <script>

            function get_review_stars() {
                var radios = document.getElementsByName('rating');
                for (var i = 0, length = radios.length; i < length; i++) {
                    if (radios[i].checked) {
                        // do whatever you want with the checked radio
                        var review_stars = radios[i].value;
                        // only one radio can be logically checked, don't check the rest
                        break;
                    }
                }
                return review_stars; // <---- return it!
            }

            function get_user_comment() {

                var user_comment = $("#user_comment").val().trim();
                return user_comment; // <---- return it!
            }


            $("#send_review").click(function () {


                $.post("{% url 'shop:make_review_view' %}", {
                        category_slug: "{{ sample.category.slug }}",
                        sample_slug: "{{ sample.slug }}",
                        review: get_user_comment(),
                        stars: get_review_stars(),
                    },
                ).done(function () {
                    $("#user_comment").addClass('hidden');
                    $("fieldset").addClass('hidden');
                    $("#ya-conoces-nuestros-productos").text('¡Gracias por ayudarnos a mejorar!').delay(3000).fadeOut('slow');
                    $("#send_review").addClass('hidden');
                })
            });

        </script>


    {% endif %}




    <br>
    <br>

{% endblock %}