{% extends 'base.html' %}
{% load staticfiles %}
{% load embed_video_tags %}
{% block metadescription %}
    {% if category %}
        {{ category.description|truncatewords:155 }}
    {% else %}
        Welcome to the Cushion Store
    {% endif %}
{% endblock %}
{% block title %}
    {% if category %}
        {{ category.name }} - Stickers Gallito
    {% else %}
        Mira nuestros productos - Stickers Gallito
    {% endif %}
{% endblock %}

{% block content %}





    <div class="my_header_samples">

        <div class="container margin-top3 margin-bottom10">
           <div class="padding-top5">
            <p class="my_samples_title">Sobre con muestras a S/ 5.00</p>
            <p>Cada sobre contiene 5 stickers.</p>
            <p><i class="gold-star fas fa-star"></i>
                <i class="gold-star fas fa-star"></i>
                <i class="gold-star fas fa-star"></i>
                <i class="gold-star fas fa-star"></i>
                <i class="gold-star fas fa-star"></i>
            </p>


            <div class="row">

                <div class="text-center">
                    <p><a href="{% url 'shop:SamplePack' 'muestras' 'sobre-con-muestras' %}"
                          class="btn btn-azul text-white btn-block">Agregar al carrito</a>
                    </p>
                </div>

            </div>
        </div>

            

        </div>


        <div class="container">

            <p class="my_samples_subtitle text-center">O también puedes obtener tus muestras con tu diseño
                personalizado.</p>
            <h4 class="text-center">Son 10 stickers personalizados a S/15.00 (no incluye costos de envío).</h4>
            <br>
            <br>


            <div class="row">
                {% for muestra in muestras %}
                    <div class="col-md-4">
                        <div class="text-center">
                            <a href="{% url 'shop:SampleDetail' muestra.slug %}"><img class="my_image_medium"
                                                                                      src="{{ muestra.image.url }}"
                                                                                      alt="{{ muestra.name }}"></a>

                        </div>
                        <p class="text-center"><b>{{ muestra.name }}</b></p>
                    </div>
                {% endfor %}
            </div>

            <br>
            <br>

            <div class="row col-md-12">

                <p class="text-center">

                    {% video categoria_muestras.video as my_video %}

                    {% video my_video "medium" %}
                    {% endvideo %}

                </p>

            </div>


        </div>

        

{% endblock %}