{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}


    <main role="main" class="margin-top10 padding-bottom15">

       

         <script>
            $(document).ready(function () {
                $('label[for="id_file"]').hide();
            });
        </script>


        <script>
            $(function () {
                $("input:file").change(function () {
                    var fileName = $(this).val();
                    if (fileName != "") {
                        $("#instrucciones-adicionales").show();
                    } else {
                        $("#instrucciones-adicionales").hide();
                    }
                });
            });

        </script>



        <div class="row padding80-top">

            <div class="col-md-3 mb-4"></div>
            <div class="col-md-6 mb-4">
                <p class="text-size60 bold-font">Sube tu imagen</p>
                <form method="POST" enctype="multipart/form-data" action="">
                    {% csrf_token %}

                    <div class="form-group">

                        {{ form.file|as_crispy_field }}

                        <div id="instrucciones-adicionales" style="display:none">

                            <p class="bold-font"> Instrucciones adicionales (opcional):</p>

                            {{ form.comment|as_crispy_field }}

                        </div>
                    </div>



                    <p>O, sáltate este paso y envía tu arte por correo electrónico</p>


                    <button type="submit" class="btn btn-naranja text-white btn-block">Continuar
                    </button>


                </form>
            </div>
            <div class="col-md-3 mb-4"></div>

        </div>

    </main>



{% endblock %}