{% extends 'base.html' %}
{% load staticfiles %}


{% block content %}

    <br>
    <br>
    <br>

    <div class="container">


        <h1>¿Cómo comprar?</h1>
        <br>

        <h3><u>Paso 1</u>: Regístrate</h3>
        <p>


            <br>
            par al momento de registrarte podrás ingresar la dirección a donde debemos enviar tus pedidos.

        </p>

        <h3><u>Paso 2</u>: Elige el producto que deseas</h3>
        <br>
            <p>Elige el tipo de producto que deseas ordenar, en qué tamaño quieres que imprimamos tu diseño y qué
            cantidad quieres recibir.
            </p>

          <h3><u>Paso 3</u>: Elige el método de pago</h3>
        <br>

        <ul>
            <li>3.1.- <b>Depósito en efectivo:</b><br>
                <br>
                Debe seleccionar la opción Pago en Efectivo al momento de pagar. <br>
                Luego su orden se generará y en la página de gracias por la compra le aparecerá el monto que debe
                cancelar en las siguientes 24 horas después de haber realizado su compra.<br>
                Actualmente contamos con 2 cuentas para que realice el deposito por su orden:
                BCP e Interbank.
                <br>
                <br>

                <div class="row">
                    <div class="col-md-6">
                        <!-- BCP -->
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 text-center">
                            <table class="table my_custom_table">

                                <thead class="my_custom_thead">

                                <tr>
                                    <th>
                                        BCP
                                    </th>
                                </tr>
                                </thead>
                                <tboyd>

                                    <tr>
                                        <td class="text-left">
                                            CTA. AHORROS: 191-93277552-0-47
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">
                                            CTA. INTERBANCARIA: <b>
                                            <br>
                                            002-191-193277552047-54</b>

                                        </td>
                                    </tr>

                                </tboyd>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <!-- INTERBANK -->
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 text-center">

                            <table class="table my_custom_table">

                                <thead class="my_custom_thead">

                                <tr>
                                    <th>
                                        INTERBANK
                                    </th>
                                </tr>
                                </thead>
                                <tboyd>

                                    <tr>
                                        <td class="text-left">
                                            CTA. AHORROS: 200‑3001651127
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">
                                            CTA. INTERBANCARIA: <b>
                                            <br>
                                            003-200-003001651127-38</b>

                                        </td>
                                    </tr>

                                </tboyd>
                            </table>
                        </div>
                    </div>
                </div>
            </li>
            <br>
            <li>3.2.- <b>Tarjeta de Crédito:</b> <br>
                <br>
                Trabajamos con <a href="https://www.culqi.com/">CULQI</a>, ellos se encargan de gestionar la transacción
                con
                los
                principales bancos peruanos (BCP, Interbank, BBVA, Scotiabank). Al ingresar la información de tu tarjeta
                de crédito, Culqi procesa
                estos datos bajo estrictas medidas de seguridad. CULQI trabaja con los E-Commerce más grandes del Perú.
            </li>
            <br>

        </ul>


        </p>
    </div>

    </div>

    <br>


{% endblock %}