{% extends 'base.html' %}
{% load static %}


{% block content %}


<div class="container margin-top10 margint-bottom5">

    <h1 class="margin-top3">Términos y condiciones de Stickers Gallito</h1>

    <p>El uso de los servicios ofrecidos por Stickers Gallito reconoce y acepta los siguientes términos y condiciones
    </p>

    <h2 class="margin-top3">Propietario de Stickers Gallito y servicios relacionados</h2>

    <p>Stickers Gallito S.A.C.</p>
    <p>Ate Vitarte, Lima. Perú</p>

    <p><b>Correo de contacto:</b> stickersgallito@gmail.com</p>

    <h2 class="margin-top3">Introducción</h2>

    <p>Este documento es un acuerdo legal entre usted, El Usuario, y la entidad proveedora Stickers Gallito</p>
    <p>El mismo gobierna el uso de todas las propiedades digitales y todos los servicios provistos por Stickers Gallito.</p>
    <p>El decir que este documento es un "Acuerdo Legal" significa que se establece una relación legal entre El Usuario y nosotros, una vez que usted ha aceptado
        los términos de este acuerdo.</p>
    <p>Por simplicidad, "Usuario", "tú", "Usted" y términos similares, en singular o plural, hacen referencia a usted, El Usuario. "Nosotros", "nuestro" y términos similares
        hacen referencia a la empresa que maneja Stickers Gallito como se establece en el presente documento.
    </p>
    <p>"Stickers Gallito" hace referencia a la página web o aplicación móvil.</p>
    <p>"Acuerdo" hace referencia a este documento.</p>
    <p>Las definiciones de otros términos se encuentran en la sección "Definiciones" al final del presente documento.</p>

    <h2 class="margin-top3">Registro, contenido en Stickers Gallito y usos prohibidos de Stickers Gallito</h2>

    <h3 class="margin-top3">Registro</h3>

    <p>Para poder usar nuestros servicios, los usuarios deben registrarse ingresando toda la información requerida en el formulario de registro.</p>
    <p>Los usuarios también deben aceptar nuestras Políticas de Privacidad y estos Términos y Condiciones en su totalidad.</p>
    <p>Los usuarios son responsables de mantener su información para ingresar a nuestros sistema confidencial.</p>

    <h3 class="margin-top3">Eliminación de la cuenta de un usuario</h3>

    <p>Los usuarios pueden solicitar que sus cuentas sean eliminadas contactándonos.</p>
    <p>En caso un usuario incumpla con los términos y condiciones de este documento, nos reservamos el derecho
        a suspender o eliminar su cuenta en cualquier momento y sin un aviso previo.
    </p>
    <p>El Propietario se reserva el derecho a suspender o eliminar una cuenta si:</p>
    <ul>
        <li>El usuario a violado El Acuerdo; y/o</li>
        <li>El ingreso del usuario al sistema o el uso de nuestros servicios por parte suya puede resultar
            en perjuicios para El Propietario, otros usuarios, o terceros involucrados; y/o
        </li>
        <li>
            El uso de los servicios de Stickers Gallito por parte del usuario puede resultar en una violación de la Ley y/o delito, y/o
        </li>
        <li>
            en el caso de una investigación por parte de alguna entidad de El Estado, y/o
        </li>
        <li>
            por la sola discreción de El Propietario, que por algún motivo, considera que la cuenta es
            inapropiada u ofensiva o viola alguno de los puntos de El Acuerdo.
        </li>
    </ul>

    <h3 class="margin-top3">Contenido proporcionado por terceras personas</h3>

    <p>El Propietario no modera el contenido o enlaces provistos por terceras personas o entidades, antes de su publicación en Stickers Gallito.</p>
    
    <h3 class="margin-top3">Contenido proporcionado por el usuario</h3>

    <p>Los usuarios son responsables del contenido que ellos mismos suben a Stickers Gallito; sea contenido propio de ellos o de terceros.</p>
    <p>Los usuarios confirman que tienen el pleno consentimiento por parte de terceras personas o entidades, cuya data o imágenes ellos comparten
        en Stickers Gallito, con El Propietario. Y, por lo tanto, liberan a El Propietario de cualquier reclamo o querella que se interponga contra el mismo, en
        relación a contenido de terceros distribuidos ilegalmente o uso ilegal de nuestros servicios.
    </p>
    <p>El Propietario no modera el contenido de terceros que los usuarios suben a la plataforma de Stickers Gallito,
        pero actuará en el caso de que se presenten quejas por parte de otros usuarios y/o si se reciben órdenes por parte
        de alguna entidad de El Estado Peruano contra el contenido subido por algún usuario por considerse ilegal u ofensivo.
    </p>
    <p>En particular, El Propietario puede decidir suspender o interrumpir la visualización de contenido en el caso de:</p>
    <ul>
        <li>Otros usuarios presenten reclamos.</li>
        <li>Una notificación de estar infringiendo los derechos de propiedad intelectual se reciba.</li>
        <li>Se decide hacerlo así como resultado de alguna acción legal.</li>
        <li>Alguna autoridad así lo solicite.</li>
        <li>Se cree que el contenido, mientras pueda ser accedido vía Stickers Gallito, puede poner en riesgo
            a los usuarios, a terceros, la disponibilidad de nuestros servicios, y/o a El Propietario.
        </li>
    </ul>

    <h3 class="margin-top3">Derechos sobre el contenido proporcionado por los usuarios</h3>
    <p>Los únicos derechos cedidos a El Propietario respecto al contenido que los usuarios suben son los necesarios
        para operear y mantener los servicios de Stickers Gallito.
    </p>
    <p>Si no se menciona lo contrario, lo siguiente puede aplicarse:</p>
    <p>Al subir, o mostrar contenido en o a través de Stickers Gallito, El Usuario garantiza una licencia a El Propietario;
        sin límites territoriales, gratuita; y con el derecho de ser retransmitido a un tercero, para ser usuado, copiado, reproducido,
        procesado, adaptado, modificado, publicado, transmitido, mostrado y distribuido a través de cualquier medio o vía de distribución actualmente
        existente o que se desarrolle en el futuro.
    </p>

    <h3 class="margin-top3">Servicios provistos por terceras entidades</h3>
    <p>Los usuarios podrían usar servicios de terceros o su contenido vía Stickers Gallito, pero deben tener conocimiento de los términos y condiciones
        del uso de los servicios provistos los mismos.
    </p>
    <p>Bajo ninguna circunstancia El Propietario se hará responsable por el correcto funcionamiento de los servicios de estas terceras
        entidades.
    </p>

    <h3 class="margin-top3">Uso prohibido</h3>

    <p>Los servicios de Stickers Gallito deben ser usados en concordancia con los términos de este acuerdo.</p>
    <p>Los usuarios no deben:</p>
    <ul>
        <li>emplear ingenería inversa, decompilar, desemsamblar, modificar o crear trabajos o diseños derivados de lo que se encuentra en Stickers Gallito.</li>
        <li>copiar, guardar, editar, cambiar o preparar trabajos derivados o alterar cualquier contenido que se encuentre en Stickers Gallito.</li>
        <li>usar cualquier robot, spider, o cualquier otra herramienta que le permita extraer información de la página web.</li>
        <li>diseminar o publicar contenido que es ilegal, obsceno, ilegítimo, difamatorio o inapropiado. </li>
        <li>Apropiarse de la cuenta de otros usuarios.</li>
        <li>Difamar, abusar, acosar, usar tácticas de acoso, amenazar o violentar los derechos legales de otros en ningún modo (como los derechos a la privacidad).</li>
        <li>Registrase o usar nuestros servicios con la finalidad de promover, vender o publicitar productos o servicios de cualquier tipo a través de Stickers Gallito.</li>
        <li>Usar Stickers Gallito de cualquier forma inapropieda que viole lo términos de El Acuerdo.</li>
    </ul>

    <h1 class="margin-top3">Términos y condiciones de venta</h1>

    <h2 class="margin-top3">Venta</h2>

    <h3 class="margin-top3">Proceso de compra</h3>

    <p>Cada orden enviada constituye una oferta para comprar un producto. La órdenes están sujetas a la disponibilidad y a la discreción de El Propietario de aceptarlas.
        Los usuarios deben seleccionar los productos y completar el proceso de compra, después de haber revisado con atención la información mostrada en el carrito de compras.
        La orden se confirma y el usuario tiene que pagar el precio, el IGV, el costo del envío, y cualquier otro monto indicado en el resumen que se muestra en el carrito de compras.
    </p>
    <p>El comprobante de que se recibió la orden, que llega al correo de los usuarios, luego de confirmar su orden, no constituye una prueba de que la orden fue aceptada por El Propietario. La orden será confirmada cuando 
        El Propietario envíe el correo de confirmación de la orden al correo proporcionado por el usuario al momento de registrarse. El Propietario se reserva el derecho de invalidad una orden
        informando al usuario dentro de los 5 días hábiles después de que se ingresó la orden en nuestro sistema, utilizando el correo asociado al momento del registro del usuario. En estos casos,
        El Propietario reembolsará el costo de los productos y cualquier costo adicional en el que haya incurrido el usuario.
    </p>

    <h3 class="margin-top3">Métodos de pago</h3>

    <p>Stickers Gallito utiliza pasarela de pagos de terceros para el procesamiento de los pagos y no tiene conexión alguna con los datos ingresados para generar los pagos - como los datos de la tarjeta de crédito/débido utilizada
        por los usuarios.
    </p>
    <p>Cualquier costo generado al momento que se declina algún pago, como por ejemplo el pago declinado porque la tarjeta de crédito/débito no tiene los fondos suficientes, debe ser
        asumido por el usuario.
    </p>

    <h3 class="margin-top3">Ofertas y descuentos</h3>
    <p>El Propietario se reserva el derecho, a su sola e incuestionable discreción, de ofrecer descuentos y/u ofertas por un periodo limitado de tiempo.
        Las condiciones de estos descuentos y/u ofertas serás especificadas a su debido momento en los canales de comunicación de Stickers Gallito (vía correo, vía Facebook o en nuestra página web).
        Cada descuento y/u oferta será válida por un determinado periodo, o, cuando sea apropiado, mientras exista stock de productos.
    </p>

    <h3 class="margin-top3">Reembolsos</h3>
    <p>Stickers Gallito acepta solicitudes de reembolso solo cuando aún no se ha realizado el envío de los productos al destino indicado por el usuario al momento de registrarse.</p>

    <h3 class="margin-top3">Retención de productos</h3>
    <p>Los productos serán de propiedad de Stickers Gallito hasta que se hayan cancelado en su totalidad por parte del usuario.</p>

    <h3 class="margin-top3">Disponibilidad de productos</h3>
    <p>Precios, descripciones o disponibilidad de los productos que se muestran en nuestra página web pueden cambiar sin previo aviso.
        Las fotos mostradas son solo con fines demostrativos y puede que no sean una representación exacta de los productos finales.
    </p>
    <p>El Propietario hará su mejor esfuerzo para presentar las características de los productos con la mayor precisión de los detalles.
        Sin embargo, imágenes y colores de los productos ofertados en Stickers Gallito pueden variar debido a diversos factores. Incluyendo, por ejemplo,
        el monitor del usuario, filtros fotográficos, etc. Por lo tanto, el usuario reconoce y acepta que cualquiera de estas diferencias mínimas no constituye una disconformidad
        con los productos que reciba.
    </p>
    <h3 class="margin-top3">Confirmación de la orden</h3>
    <p>La orden se considera completa de acuerdo a los detalles de la sección "Proceso de compra", es decir, con el correo que confirma que la orden fue recibida y ya está siendo atendida. 
        Para consierdar la orden completa, no basta el solo el correo de confirmación de orden recibida, que es el que se genera automáticamente cada vez que el usuario ingresa una orden a nuestro sistema.
    </p>
    <p>El Propietario no será responsable por los daños ocasionados como resultado de las demoras por el servicio de delivery que se encarga
        de llevar los productos hasta su destino final. Estos percances no pueden ser anticipados por ninguna de las partes, ni por El Propietario, ni por el Usuario.
    </p>

    <h3 class="margin-top3">Entregas o Delivery</h3>
    <p>Las entregas se realizan de Lunes a Sábado de 2 a 6 pm. Al recibir su pedido, el usuario debe verificar el perfecto estado del contenido, y notificar en el formulario de la empresa que hace la entrega cualquier defecto.</p>
    <p>En caso no se logre entregar los productos, los mismos serán retornados a El Propietario, quién reembolsará el costo de los mismos al cliente pero no el costo de despacho.</p>
    <p>El Propietario no se hace responsable por problemas con el despacho debido a inconsistencias o errores al momento del ingreso de la dirección para los envíos en el formulario de registro.</p>

    <h3 class="margin-top3">Definiciones</h3>

    <p><b>Confirmación de orden</b></p>

    <p>Indica el email que El Propietario envía como confirmación de despacho en el momento en el que los productos son envíados a su destino.</p>

    <p><b>Email de recepción de la orden</b></p>

    <p>Indica el correo que El Propietario envía al recibir la orden.</p>

    <p><b>Usuario</b></p>

    <p>Cualquier usuario de los servicios de Stickers Gallito, ya sea una persona natural o una jurídica.</p>

</div>


{% endblock %}