{% extends 'base.html' %}
{% load static %}


{% block content %}

    

    <div class="container margin-top10 margin-bottom5">


        <h1>Políticas de privacidad de Stickers Gallito Perú</h1>
       
        <p>Stickers Gallito Perú solicita datos personales a los usuarios al momento que estos se registran.</p>

        <h3>Propietario y responsable de los datos recolectados</h3>

        <p>Stickers Gallito S.A.C.</p>
        <p>Ate Vitarte, Lima. Perú</p>

        <p><b>Correo de contacto:</b> stickersgallito@gmail.com</p>

        <h3>Tipo de datos recolectados</h3>

        <p>Entre los tipos de datos que El Propietario solicita, por sí mismo o a través de terceros, tenemos: Cookies, Datos de navegación, dirección
        correo electrónico, nombres, apellidos, documento de identidad, otros tipos de datos.
        </p>

        <p>Lo detalles completos de cada uno de estos tipos de datos personales recolectados se encuentran es las siguientes secciones de este documento
            o en mensajes contextuales (pop-ups) al momento de su recolección.
        </p>

        <p> Los datos personales de los usuarios son provistos de forma gratuita por ellos mismos, o, en el caso de los datos de navegación de los usuarios, estos son recolectados
            de manera automática cuando hacen uso de nuestro sitio web.
        </p>

        <p>A menos que se especifique lo contrario, todos los datos solicitados por El Propietario son necesarios y el no proveerlos puede que haga imposible que Stickers Gallito pueda proveer sus servicios a la persona que los solicita.</p>
        <p>En los casos en los que El Propietario indique explícitamente que algunos datos no son necesarios, los usurios son libres de no comunicar estos datos sin que haya alguna consecuencia para la disponibilidad o el funcionamiento del servicio.</p>
        <p>En caso el usuario tenga alguna duda sobre los datos solicitados, por favor, envíenos un correo a stickersgallito@gmail.com</p>
        
        <p>Los usuarios son responsables por cualquier dato personal que a través de algún tercero se haya obtenido, publicado o compartido a través de Stickers Gallito Perú, y confirman que tienen la autorización de esta tercera entidad para compartir esta información con
           El Propietario.
        </p>

        <h3>Modo y forma en la que se manejan los datos de los usuarios</h3>

        <h4>Métodos de procesamiento</h4>

        <p>El propietario toma las medidas necesarias para prevenir el acceso no autorizado, la divulgación, modificación, o destrucción no autorizada de los datos de los usuarios.</p>
        <p>El procesamiento de la información es manejado a través de servidores y/o herramientas tecnológicas, siguiendo procedimientos organizacionales y modos estrictamente relacionados
            con los propósitos indicados.
        </p>
        <p>En algunos casos los datos provistos por por los usuarios puede que sean accesibles a personas involucradas con la operación de Stickers Gallito Perú.
           (Administración, Ventas, Marketing, Departamento Legal) o proveedores externos (proveedores de herramientas tecnológicas, las empresas de logística que nos ayudan a enviar los productos,
           proveedores del hosting web, empresas de telecomunicaciones, entre otros).
        </p>

        <h4>Bases legales del procesamiento de datos</h4>

        <p>El Propietario puede procesar datos personales de los usuarios si alguno de los siguientes aplica:</p>

        <ul>
            <li>El usuario ha dado su consentimiento para uno o más propósitos específicos.</li>
            <li>El uso de los datos personales del usuario son necesarios para concretar la transacción comercial del usuario con nuestros servicios.</li>
            <li>El uso de los datos personales del usuario son necesarios para el cumplimiento de alguna obligación legal a la que el propietario de la información sea sujeto.</li>
            <li>El uso y/o procesamiento de los datos personales del usuario es necesario para concretar una tarea en el ejercicio de la autoridad otorgada El Propietario.</li>
            <li>El uso y/o procesamiento de los datos personales del usuario es necesario para la consecución de los legítimos intereses de El Propietario o de un tercero.</li>
        </ul>

        <p>En cualquier caso, El Propietario ayudará a clarificar la base legal específica que aplica para el procesamiento de los datos personales de un usuario, y
            en particular si la provisión de la información es un requerimiento contractual, o un requerimiento necesario para generar un contrato.
        </p>

        <h3>Lugar de procesamiento (uso) de la información</h3>

        <p>La información es procesada en las oficinas de El Propietario o en cualquier otro lugar en el que
            las partes involucradas en el procesamiento se encuentren.
        </p>

        <h4>Tiempo de almacenamiento</h4>

        <p>Los datos personales de los usuarios pueden ser almacenados y procesados por tanto tiempo como sea necesario según el propósito para
            los que fueron recolectados:
        </p>
        <p>Por consiguiente:</p>
        <ul>
            <li>Datos personales recolectados para propósitos relacionados para el desempeño de un contrato entre El Propietario y 
                el usuario pueden ser almacenados hasta que el contrato se complete en su totalidad.
            </li>
            <li>Datos personales recolectados para los intereses legítimos de El Propietario pueden ser almacenados hasta que tales intereses sean
                satisfechos en su totalidad. Los usuarios pueden encontrar detalles acerca de los intereses de El Propietario en la sección específica o poniéndose
                en contacto con él a através del correo indicado al inicio de este documento.
            </li>
        </ul>

        <p>El Propietario puede almacenar los datos personales recolectados por un tiempo superior siempre y cuando el usuario haya dado su consentimiento y 
            no retire el mismo. Es más, El Propietario puede ser obligado a almacenar los datos de los usuarios por tiempo prolongado si es que así se lo solicita
            alguna autoridad.
        </p>
        <p>Una vez que el periodo de la retención expira, la información personal de los usuarios debe ser borrada de nuestros sistemas.
           Por lo tanto, el derecho al acceso, el derecho a modificar, y el derecho a la portabilidad de esta información no puede ser forzada después de la expiración del 
           periodo de retención.
        </p>

        <h3>El propósito del procesamiento de la información</h3>

        <p>La información concerniente al usuario es recolectada para permitir a El Propietario proveer sus servicios, así como para los siguiente propósitos:
            TAG Managment (implementación de soluciones para manejo de TAGs), Analytics, manejo de contactos y envío de mensajes, manejo de base de datos, remarketing, publicidad,
            transferencia de pagos, registro y autenticación, hosting e infraestructura backend.
        </p>

        <h3>Derechos de los usuarios</h3>

        <p>Los usuarios pueden ejercer ciertos derechos sobre la información personal procesada por El Propietario.</p>
        <p>En particular, los usuarios tienen el derecho de hacer lo siguiente:</p>

        <ul>
            <li>Cancelar la autorización para que su información personal se siga procesando para los fines que El Propietario estime convenientes.</li>
            <li>Acceder a su información personal.</li>
            <li>Verificar y solicitar una rectificación de la información personal retenida por El Propietario.</li>
            <li>Solicitar que su información personal sea eliminada por parte de El Propietario.</li>
        </ul>

        <h3>Políticas sobre el uso de las Cookies</h3>

        <p>Stickers Gallito Perú usa Cookies. Para aprender más sobre qué son las cookies y cómo se utilizan, por favor, 
            visite la sección sobre Política de las Cookies.</p>
        
        <h3>Definiciones y referencias legales</h3>

        <h4>Información personal</h4>

        <p>Cualquier información que directa o indirectamente, o que en conexión con otro tipo de información -incluyendo un número de identificación personal- permite identificación de una persona
            natural.</p>
        
        <h4>Usuario(s)</h4>

        <p>El individuo(s) que utilizan Stickers Gallito Perú, quien, sino se especifica lo contrario, coincide con el sujeto de la información personal.</p>

        <h4>Cookies</h4>

        <p>Información almacenada en los dispositivos de los usuarios generada por Stickers Gallito o uno de los proveedores relacionados.</p>

        <p>Última actualización: 06 de junio del 2019.</p>

    </div>    


{% endblock %}