{% extends 'base.html' %}
{% load staticfiles %}


{% block content %}


<div class="container margin-top10 margin-bottom10">

    <h3 class="margin-top3 margin-bottom3">¿Cómo imprimen sus stickers?</h3>
    <p>Imprimimos nuestros stickers con un impresora Inkjet de alta precisión. Después de impresos, los stickers son cubiertos con una capa laminadora
        para prolongar su durabilidad. Solo usamos laminados de alta calidad con protección UV.</p>
    
    <h3 class="margin-top3 margin-bottom3">¿Con qué tanta precisión pueden cortar los stickers?</h3>
    <p>La tolerancia de nuestros cortes es de 1/32". Sin embargo,
         recomendamos dejar un borde de 1/8" al rededor de tus diseños.</p>
    <h3 class="margin-top3 margin-bottom3">¿Cuál es la cantidad mínima para ordenar stickers?</h3>
    <p>Ofrecemos stickers de muestra con el diseño que el cliente desee, desde S/10 soles.</p>
    <p>Si quisiera ordenar más de 10 stickers, pero menos de 50 (que es la siguiente cantidad que ofrecemos) puede ordenar
        otro paquete de muestras de 10 sitckers, y así sucesivamente hasta que se acerque a la cantidad deseada.
    </p>

    <h2 class="margin-top3 margin-bottom3">Costos de envío</h2>
    <p>¿Cómo se calcula el costo de envío?</p>
    <p>Los costos de envío dependen del total de la orden y el lugar de destino.</p>
    <h4 class="margin-top3 margin-bottom3">¿Cuándo recibiré mi orden?</h4>
    <p>Las órdenes nos toman en general de 2 a 4 días de producción, a esto hay que agregarle los días que le tomará a la empresa de transporte llevar los
        stickers hasta su destino.
    </p>
    <h4 class="margin-top3 margin-bottom3">¿Puedo solicitar que mi orden llegue antes de lo indicado?</h4>
    <p>Tenemos una opción por la que por S/10 soles podemos acelerar los tiempos de producción para que en lugar de 4 días, tengamos sus stickers listos en 3 días.</p>
    <p>Solo aplica para órdenes menores a los S/500 soles.</p>
    
</div>


{% endblock %}