{% extends 'base.html' %}
{% load staticfiles %}


{% block content %}

    <br>
    <br>
    <br>

    <div class="container">


        <h1>¿Quiénes somos?</h1>
        <br>
        <p>
            Somos una empresa 100% peruana <img src="{% static 'img/home/peru-flag.png' %}" width="20px" height="20px">.

        </p>
        <p>
            Queremos lograr que ordernar stickers, gigantografìas, pines publicitarios, entre otros,
            por internet sea fácil y rápido para nuestros clientes.
        </p>
        <p>
            Nuestros productos personizalidos son impresos en vinyl de la más alta calidad.
        </p>
        <p>
            ¡Ordena en segundos y recibe tu orden un tan solo unos días!

        </p>

    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

{% endblock %}