{% extends 'base.html' %}
{% load staticfiles %}


{% block content %}

    <div class="container">
        <br>
        <br>

        <h1>¿Quiénes somos?</h1>
        <p>
            We aim to build an incredible experience for ordering custom products.
            Wasting time sucks. That's why we relentlessly focus on making it fast and easy to order custom products.
            Order
            in
            seconds and get your products in days. Free proofs, free artwork help, free shipping and fast turnaround are
            why
            people love us.
        </p>

    </div>

{% endblock %}