{% extends 'base.html' %}
{% load static %}


{% block content %}

    <br>
    <br>
    <br>

    <div class="container">


        <h1>¿Quiénes somos?</h1>
        <br>
        <p>
            Somos una empresa 100% peruana <img src="{% static 'img/home/peru-flag.png' %}" width="20px" height="20px">.

        </p>
        <p>
            Queremos lograr que ordernar stickers, etiquetas, pines, gigantografías, y empaques personalizados
            por internet, sea fácil y rápido para nuestros clientes.
        </p>
        <p>
            Lo que nos motiva es saber que estamos trabajando para
            hacerle la vida más simple y fácil a nuestros clientes.
            Cada vez se tiene menos tiempo disponible para hacer lo que uno disfruta y/o para pasar más tiempo con la familia y los amigos.
            Lo que buscamos es devolverles ese tiempo con nuestra imprenta virtual: <b>¡Stickers Gallito!</b>
        </p>
        <p>
            Nuestros productos personalizados son impresos en vinyl de la más alta calidad.
        </p>
        <p>
            ¡Ordena en segundos y recibe tu orden en tan solo unos días!

        </p>

    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
{% endblock %}